* {
    box-sizing: border-box;
  }

body, h1, h2, h3, p, button, a, header{
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #2f4f4f;
    
}


.navigation, .nhl_mobile, #selected_page{
    border: 0;
    background-color: transparent;
    margin:auto;
    padding-top: 20px;
}

.navigation:hover{
    background-color: transparent;
}

.container{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;

}


table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 5%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.order-button {
    margin-top: 10px;
    background: #2f4f4f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    cursor: pointer;

}

.plus, .min, .plus_menu{
    background-color: #2f4f4f;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: white;
    opacity: 90%;
    margin: auto;
}

.trash{
    background-color: transparent;
    border: 3px #2f4f4f solid;
}

.plus_menu{
float: right;
}

.hamburger_menu{
    padding: 15px;
    background-color: transparent;
    border: #4d7070 solid 1px;
    border-radius: 5px;
    margin: 10px;
}

button:hover{
    background-color: #306464;
    cursor: pointer;
}

.hamburger_menu:hover{
    background-color: #2f4f4f;
    color: white;
}

.menu {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

#selected_page{
    color: #121212;
    font-weight: bold;
}
#tr1, #tr3, #tr5{
    background-color: transparent;
}

#tr2, #tr4{
    background-color: rgb(241, 241, 241);
}


.total {
    font-weight: bold;
}

.yellow{
    color: orange;
}
.green{
    color: darkgreen
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu .active {
    background-color: #2f4f4f;
    color: white;
}

.TM{
    bottom: 0;
    font-style: italic;
    padding: 20px;
}






















/* Only op mobile (max 768px) */
@media (max-width: 768px) {

    #header_desktop{
        display: none;
    }

    .burger{
        bottom: 0;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        color: white;
    }

    .menu{
        width: auto;
        font-size: 14px;
        margin-bottom: 20px;

    }

    .order-button {
        margin-right: 30px;
    }
    .plus, .min, .plus_menu{
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}
    



/* Only on desktop (min 769px) */
@media (min-width: 769px) {
    #header_desktop{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content:center;
        max-width: 1400px;
    }
    #header_mobile, .burger{
        display: none;
    }
    
}